body, html {height: 100%; }

#code-back{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: url('../images/code_background.png');
    height: 100vh;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
}


#gray-overlap{
    background-color:  rgba(43, 43, 43, 0.8);
    z-index: -1;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
}

#first-view{
    height: 90vh;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}
.first-container{
    overflow: hidden;
    height: 100%;
    padding-top: 20vh;
}

#name{
    color: white;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 22px;
    margin-left: 2%;
    margin-top: 1%;
    height:10vh;
}

.quote, span{
    color: white;
    font-family: 'Playfair Display';
    text-align: center;
    font-size: 75px;
    line-height: 80px;
}

#quote-1{
    color: white !important;
    padding-top: 10px;
    font-size: 20px;
    line-height: 20px;
    font-family: 'Rozha One';
}

.down{
    height: 5%;
    width: 5%;
    opacity: 0.8;
}

#more{
    color: white;
    margin-top: 20vh;
    font-family: Montserrat;
    opacity: 0.9;
}

#more:hover{
    opacity: 1;
    font-weight: bold;
}

#more{
    text-decoration: none;
}

#second-view{
    height: 90vh;
    text-align: center;
    padding-top: 10vh;
}

.languages{
    padding-top: 5vh;
    color: rgb(147, 164, 170);
    font-family: Montserrat, sans-serif;
}

#expertise{
    color: #252a30;
    font-family: 'Montserrat', sans-serif;
    font-size: 44px;
    font-weight: bold;
}

#fluent{
    color: rgb(82, 78, 77);
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    padding-top: 2vh;
    padding-bottom: 5vh;
    font-weight: 100;
}

.dev-content{
    padding-left: 15%;
}

#dev-image{
    height: 80%;
    width: 80%;
}

.java-content{
    padding-top: 1vh;
    padding-left: 35%;
    padding-bottom: 5%;
}

#java-image{
    height: 50%;
    width: 50%;
}

.python-content{
    padding-top: 1vh;
    padding-left: 30%;
    padding-bottom: 5%;
}

#python-image{
    height: 65%;
    width: 65%;
}

.description{
    padding: 10%;
}

#third-view{
    background-color: rgb(254, 215, 102);
    padding: 10%;
    text-align: center;
}

.work-together{
    color: rgb(37, 42, 48);
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 900;
    padding-bottom: 5vh;
}

.accepting{
    color: #252a30;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 0% 20%;
    padding-bottom: 5vh;
}

.button-container{
    display: inline-block !important;
    text-align: center;
    width: 100%;
    padding: 0% 35%;
    padding-top: 5%;
}
.contact-button{
    color: #252a30;
    background-color: rgb(254, 215, 102);
    border-color: rgb(37, 42, 48);
    border-radius: 70px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    font-family: 'Montserrat';
    font-weight: 900;
    padding: 5% 25%;
    padding-left: 25%;
    padding-right: 25%;
    white-space: nowrap;
}








